html{ box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.container {
 width: 1200px;
 margin-left: auto;
 margin-right: auto;
 box-shadow: 0 0 10px rgba(122,122,122,0.5);
}

body {
 margin: 0;
 padding: 0;
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #333333;
 text-transform: uppercase;
 background-color: #f2f2f2;
}
a {
 text-decoration: none;
}

.main-navigation {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 align-items: center;
 font-size: 14px;
 line-height: 26px;
 color: #000000;
 background-color: #ffffff;
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-direction: column;
}

.site-navigation {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 22px;
 margin: 0;
 padding: 0;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 list-style-type: none;
 width: 100%;
 margin-top: -80px;

}
.site-navigation a {
 color: #000000;
}
.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
 text-align: left;
}
.site-navigation li:nth-child(4n+3),
.site-navigation li:nth-child(4n+4) {
 text-align: right;
}
.site-navigation li:nth-child(4n+1) {
 padding-left: 72px;
}
.site-navigation li:nth-child(4n+2){
 padding-left: 13px;
}
.site-navigation li:nth-child(4n+3){
 padding-right: 15px;
}
.site-navigation li:nth-child(4n+4){
 padding-right: 71px;
}
.site-navigation li{
 width: 25%;
 padding-top: 18px;
 padding-bottom: 18px;
}
.container-logo {
 width: 140px;
}

.main-container {
 background-image: url("../img/background.jpg");
 background-position: -1px -56px;
 background-repeat: no-repeat;
 background-color: #ffffff;
 padding-top: 516px;
}
.main-container h1 {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 21px;
 line-height: 27px;
 text-align: center;
 padding-left: 380px;
 padding-right: 378px;
 margin: 0;
 padding-top: 50px;
}
.main-container p {
 font-size: 14px;
 line-height: 26px;
 text-align: center;
 color: #333333;
 margin: 0;
 padding-top: 26px;
 padding-bottom: 50px;
}

.visually-hidden {
 position: absolute;
 clip: rect(0 0 0 0);
 width: 1px;
 height: 1px;
 margin: -1px;
}

.features-list {
 display: flex;
 flex-wrap: wrap;
 list-style: none;
 padding: 0;
 margin: 0;
}
.feature-group {
 display: flex;
 flex-direction: row;
}

.one-block,
.two-block {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #ffffff;
 background-color: #81b3d2;
 width: calc(100%/3);
 text-align: center;
}
.one-block h3 {
 border: none;
 margin: 0;
 padding-top: 48px;
 padding-left: 111px;
 padding-right: 111px;
}
.two-block h3 {
 padding-top: 45px;
 padding-left: 125px;
 padding-right: 124px;
}
.one-block p {
 font-family: 'PT Sans', sans-serif;
 color: #ffffff;
 background-color: #81b3d2;
 margin: 0;
 line-height: 22px;
 padding-top: 22px;
 padding-left: 56px;
 padding-right: 56px;
 padding-bottom: 0;
}
.two-block p {
 font-family: 'PT Sans', sans-serif;
 color: #ffffff;
 background-color: #81b3d2;
 margin: 0;
 line-height: 22px;
 padding-top: 22px;
 padding-left: 42px;
 padding-right: 42px;
 padding-bottom: 0;
}
.feature-additional {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #000000;
 background-color: #ffffff;
 display: flex;
 flex-direction: row;
 list-style-type: none;
 padding-top: 59px;
 padding-left: 0;
}
.feature-additional p {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 padding: 24px 55px 82px;
}
h3.feature-additional {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 21px;
 line-height: 21px;
 text-align: center;
 padding-top: 48px;
}
.feature-housing {
 background-image: url("../img/icon-1.svg");
 background-repeat: no-repeat;
 background-size: 75px 72px;
 background-position: 162px 0;
 width: 400px;
 line-height: 26px;
 padding-top: 104px;
}
.feature-food {
 background-image: url("../img/icon-3.svg");
 background-repeat: no-repeat;
 background-size: 74px 70px;
 background-position: 163px 3px;
 width: 400px;
 line-height: 21px;
 padding-top: 104px;
 }
.feature-present {
 background-image: url("../img/icon-2.svg");
 background-repeat: no-repeat;
 background-size: 64px 76px;
 background-position: 168px 0;
 width: 400px;
 padding-top: 104px;
}
.feature-group h3{
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 21px;
 line-height: 21px;
 text-align: center;
 margin: 0;
}
.feature-item h3 {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 21px;
 line-height: 21px;
 text-align: center;
 padding-top: 46px;
 margin: 0;
 padding-left: 130px;
 padding-right: 130px;
}
.feature-item {
 width: calc(100%/3);
 background-color: #eeeeee;
 padding-bottom: 60px;
}
.feature-item p {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #000000;
 text-align: center;
 margin: 0;
 padding-top: 23px;
 padding-left: 67px;
 padding-right: 67px;
 padding-bottom: 0;
}

.appointment {
 display: flex;
 flex-direction: column;
 text-align: center;
}
.appointment a {
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 color: #ffffff;
 background-color: #766357;
 text-align: center;
 border: none;
 padding-left: 140px;
 padding-right: 140px;
 padding-top: 30px;
 padding-bottom: 30px;
 text-transform: uppercase;
}
.appointment a:focus {
 color: #d1c9c6;
 background-color: #766257;
}
.appointment a:hover {
 color: #ffffff;
 background-color: #604e44;
}
.appointment a:active {
 color: #71645b;
 background-color: #503e32;
}
.appointment h2 {
 font-size: 30px;
 line-height: 36px;
 text-align: center;
 color: #000000;
 margin: 0;
 padding-top: 49px;
 padding-bottom: 21px;
}
p.page-header{
 padding-bottom: 60px;
 padding-top: 0;
}

.map {
 margin-top: 12px;
}
.map img {
 display: block
}
.search-form {
 color: #000000;
 background-color: #ffffff;
 text-align: center;
 width: 569px;
 height: 396px;
 position: absolute;
 margin-left: 315px;
 box-shadow: 0 0 10px rgba(122,122,122,0.5);
}
.date-start input {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 background-color: #f2f2f2;
 background-image: url(../img/calendar.svg);
 background-repeat: no-repeat;
 background-position: 315px;
 border: 0;
 width: 345px;
 height: 38px;
 margin-left: 20px;
}
p.date-start {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 text-align: left;
 padding-top: 55px;
 padding-bottom: 0;
 padding-left: 58px;
}
.date-end input {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 background-color: #f2f2f2;
 background-image: url(../img/calendar.svg);
 background-repeat: no-repeat;
 background-position: 315px;
 border: 0;
 width: 345px;
 height: 38px;
 margin-left: 17px;
}
p.date-end {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
 text-align: left;
 padding-top: 30px;
 padding-bottom: 0;
 padding-left: 58px;
}
.search-children input,
.search-adults input {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 background-color: #f2f2f2;
 border: 0;
 width: 38px;
 height: 38px;
 text-align: center;
}
p.search-children {
 display: flex;
 align-items: center;
 margin-top: 29px;
 padding: 0;
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
}
p.search-adults {
 display: flex;
 align-items: center;
 margin-top: 29px;
 margin-right: 53px;
 padding: 0;
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 14px;
 line-height: 26px;
}
.search-adults label {
margin-right: 40px;
}
.search-children label {
margin-right: 27px;
}
.person{
 display: flex;
 flex-direction: row;
 padding-left: 56px;
}
.button-minus {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 border: none;
 background-color: #f2f2f2;
 width: 38px;
 height: 38px;
 padding: 0;
 background-image: url("../img/minus.svg");
}
.button-plus {
 position: relative;
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 border: none;
 background-color: #f2f2f2;
 width: 38px;
 height: 38px;
 padding: 0;
}
.button-search {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 color: #ffffff;
 background-color: #81b3d2;
 text-align: center;
 border: none;
 text-transform: uppercase;
 width: 460px;
 height: 58px;
 margin-top: 54px;
 padding: 0;
}
.button-search:focus {
 color: #ffffff;
 background-color: #82b3d3;
}
.button-search:hover {
 color: #ffffff;
 background-color: #669ebf;
}
.button-search:active {
 color: #96b8d3;
 background-color: #5596be;
}

.main-footer {
 display: flex;
 flex-direction: row;
 width: 1200px;
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 color: #000000;
 font-size: 21px;
 line-height: 26px;
 background-color: rgba(255, 255, 255, 0.9);
 padding: 20px 0;
 margin-top: -120px;
 position: relative;
 z-index: 10;
 align-items: center;
 padding-top: 35px;
 padding-bottom: 38px;
}
.main-footer p {
 margin: 0;
 width: 400px;
 text-align: center;
}
.social {
 display: flex;
 justify-content: center;
 list-style-type:none;
 margin: 0;
 width: 400px;
 padding: 0;
}
.social-twitter {
 display: block;
 background-image: url("../img/twitter.svg");
 background-repeat: no-repeat;
 height: 48px;
 width: 46px;
 background-position: 50%;
 background-color: #81b3d2;
 background-size: 20px 15px;
 margin-right: 7px;
}
.social-fasebook {
 display: block;
 background-image: url("../img/fb-icon.svg");
 background-repeat: no-repeat;
 height: 48px;
 width: 46px;
 background-position: 50%;
 background-color: #81b3d2;
 background-size: 20px 22px;
 margin-right: 5px;
}
.social-youtube {
 display: block;
 background-image: url("../img/youtube.svg");
 background-repeat: no-repeat;
 height: 48px;
 width: 46px;
 background-position: 50%;
 background-color: #81b3d2;
 background-size: 20px 20px;
}
.social a:focus {
 color: #fefefe;
 background-color: #82b3d3;
}
.social a:hover {
 color: #ffffff;
 background-color: #669ebf;
}
.social a:active {
 color: #89b7d1;
 background-color: #5596be;
}

.copyright {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 26px;
 color: #231f20;
 width: 400px;
 margin: 0;
 text-align: center;
 display: flex;
 align-items: center;
}
.copyright p {
 text-align: end;
 width: 177px;
}
.copyright a {
 background-repeat: no-repeat;
 color: #231f20;
 width: 115px;
 height: 41px;
 padding-left: 9px;
}
.copyright a:focus {
 color: #231f20;
}
.copyright a:hover {
 color: #81b3d2;
}
.copyright a:active {
 color: #bdbbbc;
}

.placeholder {
 background-image: url("../img/catalog-background.png");
 background-repeat: no-repeat;
 background-size: 1200px 220px;
 background-position: top;
 font-family: 'PT Sans', sans-serif;
 color: #ffffff;
 background-color: #ffffff;
 font-size: 14px;
 line-height: 21px;
 width: 1200px;
 padding-top: 0;
 padding-bottom: 120px;
}
.filter {
 display: flex;
 padding: 0;
 margin: 0;
}

.filter-container,
.filter-housing {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 color: #ffffff;
 font-size: 16px;
 line-height: 21px;
 margin: 0;
 padding-bottom: 25px;
}

.input-check {
 position: relative;
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 padding-bottom: 25px;
 padding-left: 41px;
}
.input-check label::before {
 position: absolute;
 top: 0;
 left: 0;
 content: "";
 display: block;
 width: 24px;
 height: 24px;
 background-image: url("../img/checkbox-off.svg");
}
input[type="checkbox"]:checked + label::before {
 background-image: url("../img/checkbox-on.svg");
}
.info {
 width: 255px;
 height: 216px;
 margin: 0;
 padding-top: 26px;
 padding-left: 72px;
 text-transform: inherit;
}

.price {
 width: 330px;
 height: 216px;
 color: #ffffff;
 text-transform: uppercase;
 margin-left: 300px;
}
.filter-price{
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 padding-top: 18px;
 font-size: 16px;
 line-height: 36px;
 padding-left: 2px;
}
.money {
 margin-top: 2px;
 font-family: 'PT Sans', sans-serif;
 position: relative;
 height: 38px;
 font-size: 0;
 margin-bottom: 19px;
 border: 2px solid #ffffff;
 border-radius: 1px;
 width: 318px;
}
.money label {
 display: inline-block;
 font-size: 14px;
 line-height: 33px;
 vertical-align: top;
 cursor: pointer;
}
.money .filter-from {
 width: 150px;
 padding-left: 65px;
}
.money .filter-before {
 width: 150px;
 padding-left: 62px;
}
.money input {
 width: 50px;
 margin: 0;
 color: inherit;
 font: inherit;
 background: none;
 border: none;
}
.money::after {
 content: "";
 position: absolute;
 width: 2px;
 height: 22px;
 background: #ffffff;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.range {
 position: relative;
 margin-bottom: 32px;
}
.range .scale {
 height: 2px;
 background: rgba(255, 255, 255, 0.3);
 width: 318px;
}
.range .bar {
 width: 80%;
 height: 2px;
 background: #ffffff;
}
.range-toggle {
 position: absolute;
 top: -9px;
 width: 4px;
 height: 4px;
 background: #ababab;
 border: 8px solid #ffffff;
 border-radius: 50%;
 box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
 cursor: pointer;
}
.range-toggle:hover {
 background: #1c4f80;
}
.range-toggle-min {
 left: 0;
 width: 20px;
 height: 20px;
}
.range-toggle-max {
 left: 77%;
 width: 21px;
 height: 21px;
}

.placeholder button {
 display: block;
 margin-left: 84px;
 padding: 6px 35px;
 font-size: 14px;
 line-height: 20px;
 color: #ffffff;
 text-transform: uppercase;
 background: transparent;
 border: 2px solid #ffffff;
 border-radius: 2px;
 cursor: pointer;
}
.placeholder button:hover {
 color: #000000;
 background: #ffffff;
}

.sorting {
 display: flex;
 background-color: #ffffff;
 padding-left: 71px;
 padding-bottom: 31px;
}

.sorting h2 {
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 font-size: 21px;
 line-height: 26px;
 color: #000000;
 padding-top: 29px;
 margin: 0;
 width: 120px;
}
.sorting p {
 font-family: 'PT Sans', sans-serif;
 font-size: 12px;
 line-height: 18px;
 color: #000000;
 padding-left: 45px;
 padding-top: 36px;
 margin: 0;
}
a.check {
 font-family: 'PT Sans', sans-serif;
 font-size: 12px;
 line-height: 18px;
 color: #81b3d2;
 padding-left: 39px;
 padding-top: 36px;
 margin: 0;
}
a.type {
 font-family: 'PT Sans', sans-serif;
 font-size: 12px;
 line-height: 18px;
 color: #cacaca;
 margin-left: 33px;
 padding-top: 37px;
 border-bottom: 1px dotted #cacaca;
 height: 53px;
}
a.like {
 font-family: 'PT Sans', sans-serif;
 font-size: 12px;
 line-height: 18px;
 color: #cacaca;
 margin-left: 33px;
 padding-top: 37px;
 border-bottom: 1px dotted #cacaca;
 height: 53px;
}
a.like:focus {
 color: #cacaca;
}
a.like:hover {
 color: #81b3d2;
}
a.like:active {
 color: #000000;
}

path {
 fill: #cacaca;
}
.button-up {
 display:inline-block;
 background-repeat: no-repeat;
 color: #ffffff;
 width: 11px;
 height: 10px;
 padding-top: 34px;
 margin-left: 504px;
}
.button-down {
 display:inline-block;
 background-repeat: no-repeat;
 color: #81b3d2;
 width: 11px;
 height: 10px;
 padding-top: 34px;
 padding-left: 12px;
}
.placeholder path:focus {
 fill: #cacaca;
}
.placeholder path:hover {
 fill: #231f20;
}
.placeholder path:active {
 fill: #81b3d2;
}
button-down.placeholder path:actived {
 fill: #81b3d2;
}

.value-rating  {
 display: flex;
 flex-direction: column;
 padding-top: 3px;
}
.rating-amara {
 display: flex;
 flex-direction: row;
 margin-left: 502px;
 margin-top: 2px;
}
.rating-Desert {
 display: flex;
 flex-direction: row;
 margin-left: 527px;
 margin-top: 3px;
}
.rating-Villas {
 display: flex;
 flex-direction: row;
 margin-left: 551px;
}

.rating-amara li,
.rating-Desert li,
.rating-Villas li {
 background-image: url("../img/star.svg");
 background-repeat: no-repeat;
 background-position: left;
 width: 18px;
 height: 17px;
 list-style: none;
 padding-left: 23px;
}
.info-Desert,
.info-Villas,
.info-amara {
 display: flex;
 padding-top: 18px;
}
.info-Villas {
 padding-bottom: 5px;
}
.info-Desert {
 padding-bottom: 5px;
}
.info-amara img {
 margin-top: 4px;
}
.info-Desert img {
 margin-top: 5px;
}
.info-Villas img {
 margin-top: 5px;
}
.amara,
.Desert,
.Villas {
 background-color: #ffffff;
 padding-left: 32px;
}
.amara h2,
.Desert h2,
.Villas h2 {
 margin: 0;
}

.amara-4000 {
 padding-left: 36px;
}
.Desert-3000 {
 padding-left: 61px;
}
.Villas-2000{
 padding-left: 17px;
}

.hotels {
 background-color: #ffffff;
}
.catalog-list {
 list-style-type: none;
 padding-left: 0;
 margin: 0;
 border-top: 1px solid #e5e5e5
}
.catalog-item {
 padding-bottom: 24px;
 padding-top: 7px;
 padding-left: 71px;
 border-bottom: 1px solid #e5e5e5
}
.catalog-item p {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #000000;
 margin: 0;
 padding-top: 7px;
 padding-bottom: 17px;
}
.catalog-item a {
 font-family: 'PT Sans', sans-serif;
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 text-align: center;
 color: #000000;
 margin: 0;
}
.catalog-item a:focus {
 color: #000000;
}
.catalog-item a:hover {
 color: #81b3d2;
}
.catalog-item a:active {
 color: #cacaca;
}

a.button-info {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: bold;
 text-align: center;
 color: #ffffff;
 background-color: #81b3d2;
 padding-left: 17px;
 padding-right: 17px;
 padding-top: 4px;
 padding-bottom: 5px;
}
a.button-info:focus {
 color: #ffffff;
 background-color: #81b3d2;
}
a.button-info:hover {
 color: #ffffff;
 background-color: #669ec0;
}
a.button-info:active {
 color: #928a85;
 background-color: #5496bd;
}

a.button-booking {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: bold;
 text-align: center;
 color: #ffffff;
 background-color: #766357;
 padding-left: 18px;
 padding-right: 18px;
 padding-top: 4px;
 padding-bottom: 5px;
}
a.button-booking:focus {
 color: #ffffff;
 background-color: #766357;
}
a.button-booking:hover {
 color: #ffffff;
 background-color: #604e43;
}
a.button-booking:active {
 color: #94b9d2;
 background-color: #503e33;
}

p.number {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 text-align: center;
 color: #000000;
 background-color: #f2f2f2;
 width: 105px;
 height: 25px;
 margin-left: 525px;
 margin-top: 50px;
 padding: 0;
}
.value {
 padding-left: 2px;
}
