.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
img/картинки/sedona/preview/sedona-hotels.jpg
img/картинки/sedona/preview/sedona-index.jpg
img/картинки/sedona/preview/styleguide.jpg
img/картинки/sedona/fonts/web/ptsansbold.woff2
img/картинки/sedona/fonts/web/ptsansbold.woff
img/картинки/sedona/fonts/ptsans.zip
img/картинки/sedona/fonts/web/ptsans.woff
img/картинки/sedona/fonts/web/ptsans.woff2
img/картинки/sedona/картинки/sedona-hotels.jpg
img/картинки/sedona/картинки/sedona-index.jpg
img/картинки/sedona/картинки/styleguide.jpg
img/README
img/star.jpg.svg
img/star.png
img/t.svg
img/Layer 52 copy 3.svg
img/Layer 89 copy.jpg
