body {
 margin: 0;
 padding: 0;
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 color: #333333;
 text-transform: uppercase;
 background-color: #ffffff;
 }

 a {
 text-decoration: none;
}

.main-navigation {
 font-size: 14px;
 line-height: 26px;
 color: #000000;
 font-weight: bold;

 background-color: #ffffff;
 }

.site-navigation {
 list-style: none;
}
.site-navigation a {
 color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
 background-color: #ffffff;
}

.main-container {
  background-image: url("img/background.jpg");
  background-size: 1200px 773px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.main-container h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.main-container p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features-list {
 list-style: none;
 }

.feature-item h3 {
 font-size: 21px;
 line-height: 21px;
 color: #000000;
 text-align: center;
}

.appointment h2 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.search-form {
 font-size: 14px;
 line-height: 26px;
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
 text-align: center;
}

.appointment a {
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 color: #ffffff;
 background-color: #766357;
 text-align: center;
}
.appointment a:focus {
  color: #d1c9c6;
  background-color: #766257;
}
.appointment a:hover {
  color: #ffffff;
  background-color: #604e44;
}
.appointment a:active {
  color: #71645b;
  background-color: #503e32;
}

.button-search {
 font-family: 'PT Sans', sans-serif;
 font-size: 21px;
 line-height: 26px;
 font-weight: bold;
 color: #ffffff;
 background-color: #81b3d2;
 text-align: center;
 border: none;
}
.button-search:focus {
 color: #ffffff;
 background-color: #82b3d3;
}
.button-search:hover {
 color: #ffffff;
 background-color: #669ebf;
}
.button-search:active {
 color: #96b8d3;
 background-color: #5596be;
}
.rating {
 background-image: url("img/star.svg");
 background-repeat: no-repeat;
}

.main-footer {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #fdfdfd;
  background-repeat: no-repeat;
}
.main-footer {
  text-align: center;
 color: #ffffff;
}

.cosial-twitter {
 background-image: url("img/twitter-icon.svg");
 background-repeat: no-repeat;
 background-color: #81b3d2;
 background-size: 20px 16px;
}
.cosial-fasebook {
 background-image: url("img/fb-icon.svg");
 background-repeat: no-repeat;
 background-color: #81b3d2;
 background-size: 20px 16px;
}
.cosial-youtube {
 background-image: url("img/youtube-icon.svg");
 background-repeat: no-repeat;
 background-color: #81b3d2;
 background-size: 20px 16px;
}
.cosial a:focus{
  color: #fefefe;
  background-color: #82b3d3;
}
.cosial a:hover{
  color: #ffffff;
  background-color: #669ebf;
}
.cosial a:active{
  color: #89b7d1;
  background-color: #5596be;
}

.copyright {
 font-size: 14px;
 line-height: 26px;
 color: #000000;
 background-color: #fdfdfd;
 background-repeat: repeat;
 }
.copyright a:focus {
  color: #231f20;
    }
.copyright a:hover {
  color: #82b3d1;
  }
.copyright a:active {
  color: #bdbbbc;
  }

.catalog-item p {
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 text-align: center;
 color: #000000;
  }
.catalog-item a{
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  }
.catalog-item a:focus{
 color: #000000;
 }
.catalog-item a:hover{
 color: #81b3d2;
}
.catalog-item a:active{
 color: #cacaca;
 }

.button-booking
.button-info{
 font-family:initial;
 color: initial;
 font-size: initial;
}
.button-booking{
 font-family: 'PT Sans', sans-serif;
 font-size: 14px;
 line-height: 21px;
 font-weight: bold;
 text-align: center;
 color: #ffffff;
 background-color: #81b3d2;
}
.button-booking:focus{
 color: #ffffff;
 background-color: #81b3d2;
}
.button-booking:hover{
 color: #ffffff;
 background-color: #669ec0;
}
.button-booking:active{
 color: #94b9d2;
 background-color: #5496bd;
}

.button-info{
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  background-color: #604e43;
}
.button-info:focus{
 color: #ffffff;
 background-color: #766357;
}
.button-info:hover{
 color: #ffffff;
 background-color: #604e43;
}
.button-info:active{
 color: #928a85;
 background-color: #503e33;
}
